<div class="cards">
  <div class="card">
    <div class="card-body text-center">
      <img src="https://img.icons8.com/nolan/96/file.png"/>
      <br><br>
      <h3><strong>ORGANISER</strong></h3>
      <br><br>
      <p class="card-text">vos tâches pour garder le cap</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body text-center">
      <img src="https://img.icons8.com/nolan/96/pen.png"/>
      <br><br>
      <h3><strong>COMMENTER</strong></h3>
      <br><br>
      <p class="card-text">vos tâches pour savoir précisement quoi faire</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body text-center">
      <img src="https://img.icons8.com/nolan/96/trash.png"/>
      <br><br>
      <h3><strong>ARCHIVE</strong></h3>
      <br><br>
      <p class="card-text">vos tâches pour rester concentrer sur le reste à accomplir</p>
    </div>
  </div>
</div>
